<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<head>
	<h1>Club Create</h1>
</head>

<body class="d-flex flex-column h-100">
	<main class="flex-shrink-0">
		<!-- Page Content-->
		<section layout:fragment="body" class="py-5">
			<div class="container">
				<form role="form" method="post" th:action="@{/clubs/new}" th:object="${club}">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="title">Title</label>
							<input
							       type="text"
							       class="form-control" 
							       id="title" 
							       name="title" 
							       placeholder="Title"
								   th:field="*{title}">
							<p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="text-danger"></p>
						</div>
						<div class="form-group col-md-6">
							<label for="photoUrl">Photo URL</label>
							<input 
							       type="text" 
							       class="form-control" 
							       id="photoUrl" 
							       name="photoUrl"
								   placeholder="Photo URL" 
								   th:field="*{photoUrl}">
					        <p th:if="${#fields.hasErrors('photoUrl')}" th:errors="*{photoUrl}" class="text-danger"></p>
						</div>
						<div class="form-group col-md-6">
							<label for="content">Content</label>
							<input 
							       type="text" 
							       class="form-control" 
							       id="content" 
							       name="content" 
							       placeholder="Content"
								   th:field="*{content}">
							<p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="text-danger"></p>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Create</button>
				</form>
			</div>
		</section>
	</main>
</body>

</html>