<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">

<head>
	<h1>Register</h1>
</head>

<body class="d-flex flex-column h-100">
	<main class="flex-shrink-0">
		<!-- Page Content-->
		<section layout:fragment="body" class="py-5">
			<div class="container">
				<div th:if="${param.fail}" class="alert alert-danger">
					Username or password already exists!
				</div>
				<form role="form" method="post" th:action="@{/register}" th:object="${user}">
					<input type="hidden" th:field="*{id}">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="username">Username</label>
							<input
							       type="text"
							       class="form-control" 
							       id="username" 
							       name="username" 
							       placeholder="Username"
								   th:field="*{username}">
							<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></p>
						</div>
						<div class="form-group col-md-6">
							<label for="email">Email</label>
							<input 
							       type="email" 
							       class="form-control" 
							       id="email" 
							       name="email"
								   placeholder="Email" 
								   th:field="*{email}">
					        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></p>
						</div>
						<div class="form-group col-md-6">
							<label for="password">Password</label>
							<input 
							       type="password" 
							       class="form-control" 
							       id="password" 
							       name="password" 
							       placeholder="Password"
								   th:field="*{password}">
							<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></p>
						</div>
					</div>					
					<button type="submit" class="btn btn-primary">Register</button>
					<a th:href="@{/login}" class="btn btn-black">Login here.</a>
				</form>
			</div>
		</section>
	</main>
</body>

</html>